@import '~purecss/build/pure-min.css';

.column {
  display: flex;
  flex-flow: column nowrap;
}

.centred-container {
  justify-content: center;
  align-items: center;
}

.centred-container > h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}
