@import '~purecss/build/pure-min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  background: ivory;
}

.row {
  align-self: stretch;
}

table {
  align-self: stretch;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.column-center {
  align-items: center;
}

.column-center > h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

.column-left {
  align-items: flex-start;
}

.column-left > h1, h2, h3, h4, h5, h6, p {
  text-align: left;
}

.column-right {
  align-items: flex-end;
}

.column-right > h1, h2, h3, h4, h5, h6, p {
  text-align: right;
}

.star {
  color: gold;
}
