@import '~purecss/build/pure-min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.column {
  display: flex;
  flex-flow: column nowrap;
}

body {
  background: ivory;
}

.centred-container {
  justify-content: center;
  align-items: center;
}

.centred-container > h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

.star {
  color: gold;
}
